<div class="author">
  <img class="author-avatar avatar-light" src="/assets/img/light1.png" alt="{{ site.author.username }}" />
  <img class="author-avatar avatar-dark" src="/assets/img/dark1.png" alt="{{ site.author.username }}" />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>

<div id="font-size-slider" style="text-align:center; margin: 1em 0; opacity: 0.7;">
  <label for="font-slider" style="font-size: 0.8em; margin-right: 8px;">aA</label>
  <input type="range" id="font-slider" min="14" max="22" value="16" step="1" style="vertical-align: middle;">
  <label for="font-slider" style="font-size: 1.2em; margin-left: 8px;">aA</label>
</div>
